*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
html{
    font-size: 62.5%;
}
header{
    max-width:1200px;
   width: 95%;
   display: flex;
   justify-content: space-between;
   text-align: center;
   align-items: center;
   background-color: white;
   position: fixed;
   top: 2%;
   left: 50%;
   transform: translateX(-50%);
   padding: 10px 20px;
   box-shadow: 2px 3px 3px gray;
   border-radius: 50px;
}
header .logo{
    font-size: 3rem;
    color: indianred;
}

header .nav-links ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0;
    padding: 0;
}
header .nav-links ul li{
    margin:0rem 1.5rem;
}


header .nav-links ul li a{
    font-size: 2rem;
    color:blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header .nav-links ul li .active,
header .nav-links ul li:hover {
    color: lightseagreen;
    transform: scale(1.3);
}

header  .fa-bars{
    display: none;
    font-size: 3rem;
    color:black;

}
/*This is the home section now we are preparing for the designing*/
.Home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    position: relative;
    margin: 0px auto;
    border: 3px solid blue;

}
.Home .video img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;left: 0;
    z-index: -1;
}
.Home .home-row{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 5rem;
    /* border: 3px solid red; */
    height: 50%;
 
}
.Home .text-content{
    position: relative;
 
    width: 44%;
    height: 26rem;
    margin-left: 4rem;
    margin-right: 2rem;
    /* border: 4px solid green; */
  
}
.Home .text-content h1{
   position:absolute;
   top:0%;
   left:0%;
   color:red;
   font-size: 4rem;
   

}
.Home .text-content #paragraph{
   position: relative;
    top:40%;
    left:0%;
    color: white;
    font-size: 2.2rem;
    width: 90%;
    text-align: justify;
  
   

}

.Home .home-row .form-section {
   
    top:30%;
    width: 38%;
    min-height: 35rem;
    margin-top: -3rem;
    padding: 10px 0px;
    /* background-color: moccasin; */
    border-radius: 9px;
    /* border: 4px solid green; */
    
}
.Home .home-row .form-section h1{
    color:black;
    font-size: 3rem;
}
.Home .home-row .form-section form .first-1{
    width: 100%;
    height: 7rem;
    /* border:2px solid red; */
    margin-top:1.4rem;
}

.Home .home-row .form-section form .first-1 h2{
    color:rgb(45, 251, 4);
    font-size: 1.8rem;
    position: relative;
    top:0px;
    left:10%;
    text-align: start;
    justify-content: start;
   
    
}
.Home .home-row .form-section form .first-1 input{
    width: 80%;
    height: 40px;
    margin-bottom: 16rem;
    padding-left: 15px;
}
#save_btn{
    width:150px;
    height: 40px;
    background-color: chartreuse;
    position: relative;
    right:27%;
    font-size:20px;
}



/*This is the about section we are creating*/
.about-section{
    width: 90%;
    min-height: 70vh;
    margin:2rem auto;
    
}
.about-section .heading-1{
    text-align: center;
    color: blue;
    font-size: 3rem;
    position: relative;
}
.about-section .heading-1::after{
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    border-radius: 5px;
    height: 5px;
    background-color: orange;
}
.about-section .about-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5rem;
}
.about-section .card{
    width: 20%;
    height: 40rem;
   margin-left: 5rem;
   margin-right: 5rem;
    text-align: center;
    position: relative;
    box-shadow: 2px 2px 3px gray;
}
.about-section .card #h2{
    position: absolute;
    top: -.4rem;
    left:2rem;
    width: 20%;
    height: 8%;
    padding: 5px;
    color: white;
    border-radius: 5px;
    background-color:tomato;
}
.about-section .card img{
    width: 100%;
   margin-top: -1.5rem;
}

.about-section .card h3{
    font-size:2rem;
}
.about-section .card p{
    width: 84%;
    font-size: 15px;
    margin: 10px auto;
}
.about-section .card .card-icons .fa-star{
    font-size: 2rem;
    color:yellow;
    margin:5px 5px;
}
.about-section .card button{
    width: 140px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-weight: 800;

}
/*This is the feature section now we are preparing for the design*/
.features{
    width: 80%;
    min-height: 50vh;
    margin: 10px auto;
}
.features .heading-2{
    text-align: center;
    color: blue;
    font-size: 3rem;
    position: relative;
}

.features .heading-2::after{
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    border-radius: 5px;
    height: 5px;
    background-color: orange;
}
.features .feature-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.features .feature-row .image{
    width: 34%;
    height: 26rem;
    margin-right:10rem;
}
.features .feature-row .image img{
    width: 100%;
    height: 100%;
}
.features .feature-row .text{
    width: 40%;
    height: 30rem;
    
}
.features .feature-row .text h3{
    color: lightskyblue;
    margin-top: 3rem;
    font-size: 3rem;
    font-style: italic;
}
.features .feature-row .text p{
    font-size: 1.4rem;
    color: gray;
    margin-top: 1.4rem;

}
.features .feature-row .text .btn-btn{
    width: 50%;
    height: 4rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 1.3rem;
}
.features .feature-row .text .btn-btn button{
    width: 150px;
    height: 3.4rem;
    border-radius: 5px;
    margin-right: 1.3rem;
    color: white;
    font-weight: 800;
    background-color:lightskyblue;
}
.features .feature-row .text .btn-btn button:hover{
    transform:scale(1.2);
}

/* Here we making images section and for the CSS styling */
.images-section{
    width: 90%;
    min-height: 80vh;
    margin: 10px auto;
}


.images-section .heading-3{
    text-align: center;
    color: blue;
    font-size: 3rem;
    position: relative;
}

.images-section .heading-3::after{
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    border-radius: 5px;
    height: 5px;
    background-color: orange;
}

.images-section .image-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.images-section .image-row .picture{
    width: 25rem;
    height: 50%;
    margin: 10px 60px;
    border: 3px solid red;
    border-radius: 8px;
    overflow: hidden;
}
.images-section .image-row .picture img{
    width: 100%;
    height: 100%;
   ;
}
.images-section .image-row .picture img:hover{
    transform: scale(1.2);
  
}
/* Here we are making the review section for the CSS styling */
.review-section{
    width: 90%;
    min-height: 50vh;
    border: 3px solid red;
    margin: 20px auto;
    background-image: url("file:///C:/Users/Public/Pictures/Sample%20Pictures/sea1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.review-section .heading-4{
    text-align: center;
    color:orange;
    font-size: 3rem;
    position: relative;
}

.review-section .heading-4::after{
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    border-radius: 5px;
    height: 5px;
    background-color: orange;
}
.review-section .review-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5.4rem;

}

.review-section .card{
   width: 37rem;
    height: 19rem;
    background-color:yellow;
    margin-right:25px;

}
.review-section .card img{
    width: 24%;
    height: 41%;
   
    border-radius: 50%;
    margin-top: -3.5rem;
    margin-left:13rem;
    border: 5px solid brown;
}
.review-section .card h2{
    font-size: 2.2rem;
    color:orange;
    margin-top: 1rem;
    text-align: center;
}
.review-section .card p{
    font-size: 1.2rem;
    width: 290px;
    margin:10px auto;
    
}
.review-section .card .star-icons{
    margin-left: 8rem;
    
}
.review-section .card .star-icons i{
    font-size: 2rem;
    color:black;
    margin-top: 1.2rem;
    margin-left:1.2rem;
}

/* Here now we are making the contact section for the website */
.contact-section{
    width: 100%;
    min-height: 500px;
    border: 3px solid red;
}

.contact-section .heading-5{
    text-align: center;
    color:orange;
    font-size: 3rem;
    position: relative;
}

.contact-section .heading-5::after{
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    border-radius: 5px;
    height: 5px;
    background-color: orange;
}
.contact-section iframe{
    margin-top: 3rem;
}
.contact-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 3rem;
    width: 100%;
  
}


.contact-row .firstContactSection{
    width: 15%;
    height: 50vh;
    margin-left: 13rem;
}
.contact-row .firstContactSection .infoBox{
    width: 50%;
    height: 100px;

}
.contact-row .firstContactSection .infoBox h1{
    font-size: 2.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contact-row .firstContactSection .infoBox p{
    font-size: 1.4rem;
    color: gray;
    line-height: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.contact-section .form-section{
    width: 60%;
    height: 50vh;
    margin-right:15rem;
}
.contact-section .form-section .inputs{
    width: 100%;
   

}
.contact-section .form-section .inputs input{
    width: 45%;
    height: 4.4rem;
    padding-left: 15px;
    font-size: 2rem;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px gray;
}
.contact-section .form-section textarea{
    width:95%;
    height:20rem;
    resize: none;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 4px gray;
    margin-top: 3rem;
    margin-left:-5px;
    padding: 15px;
    font-size: 2rem;
}
.contact-section .form-section button{
    width: 180px;
    height: 4.3rem;
    border: 2px solid rgb(54, 175, 216);
    margin-left: 0rem;
    margin-top: 2rem;
    float: left;
    border-radius: 5px;
    font-size: 2rem;
}
.contact-section .form-section button:hover{
    background-color: rgb(54, 175, 216);
    color:white;
    font-weight: 800;
}
/* 
Now here we are making the blog section And also design  */

.Blog{
    width: 100%;
    height: 40vh;
    background-image: url("picture/sea1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
}
.Blog h1{
    font-size: 4rem;
    color: white;
    font-weight: 700;
    text-align: center;
    padding-top: 15px;
}
.Blog p{
    width:740px;
    text-align: center;
    font-size: 2.5rem;
    color: white;
    position: absolute;
    left:50%;
    top: 8rem;
    transform: translateX(-50%);
    line-height: 30px;
}
.Blog .input-input{
  
    width: 50%;
    height: 5rem;
    position:absolute;
    left: 54%;
    top: 17rem;
    transform: translateX(-50%);
}
.Blog .input-input input{
    width: 60%;
    height: 5.3rem;
    background:rgba(255,255,255,.2);
    padding-left: 15px;
    font-size: 20px;

}
.Blog .input-input #input{
    width:20%;
    height: 5.3rem;
    background-color:#0098a1;
    cursor: pointer;
    color: white;
    text-align: center;
    font-size: 2rem;
}

/* Here now we are making the footer-section  */
.footer-section{
    width: 100%;
    height: 10rem;
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}
.footer-section h1{
    font-size: 2.2rem;
    font-weight: 800;
    letter-spacing: 4px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 35px;
}
.footer-section span{
    color:#b4f0f3;
}
.footer-section .icons{
    font-size: 3rem;
    padding-right: 20rem;

}

.footer-section .icons i{
    padding-right: 15px;
}
.footer-section .icons i:hover{
    transform: scale(1.3);
}







@media screen and (max-width:1000px){
    .review-section{
        width: 100%;
        min-height: 80vh;
    }
    .review-section .card{
        width: 33rem;
        height: 25rem;
        margin-top: 2rem;
     
     }
     .review-section #third-card{
        margin-top: 5rem;
     }
     .review-section .card p{
        font-size: 1.5rem;
        width: 250px;
        margin:10px auto;   
    }

    .contact-row .firstContactSection{
    width: 100%;
    height: 10rem;
    display: flex;
   
    margin-right: 9rem;
}
.contact-section .form-section{
    width: 90%;
    margin: 10px auto;
}
.contact-section .form-section button{
    width: 180px;
    height: 4.8rem;
    margin-left: 0px;
   
}
.Blog p{
    width:90%;
    
}
.Blog .input-input{
    margin-top: 2rem;
    width: 90%;
    margin-left:2rem;
    

}
.Blog .input-input input{
    width:5-%;

}
.Blog .input-input #input{
    width:20%;
}

.footer-section{
   flex-direction: column;
}
.footer-section h1{
    margin-top: 15px;
}
.footer-section .icons{
    
    margin-bottom: 10px;
    margin-left:15rem;
}


}


@media screen and (max-width:768px){
    html{
        font-size: 55.5%;
    }
    header{
        max-width: 80%;
    }
header  .fa-bars{
    display:block;

}

header .nav-links{
position: fixed;
top: -100rem;
left: 50%;
transform: translateX(-50%);
background-color:greenyellow;
width: 100%;
border-radius: 10px;
transition: all .5s ease;
opacity: 0;
}
header .nav-links ul{
    flex-flow: column;
}
header .nav-links ul li{
    margin: 1rem 0rem;
}
header .nav-links ul li a{
    display: block;
    font-size: 3rem;

}
header .nav-toggle{
    top: 6.5rem;
    opacity: 1;
}
.Home{
    width: 100%;
    min-height: 100vh;
}
.Home .home-row{
    flex-direction: column;
}
.Home .text-content{
    width: 100%;
 
    margin-top: 35px;
}
.Home .text-content p{
    font-size: 3rem;
    color:red;
    text-align: center;
    padding-left:9rem;
}
.Home .home-row .form-section {
    width: 70%;
    min-height:50vh;
    border: 3px solid red;
    margin: 11rem auto 0rem;
    
}
.Home .home-row .form-section form{
    border: 3px solid green;
    min-height: 50vh;
}
.Home .home-row .form-section h1{
    font-size: 5rem;
}
.Home .home-row .form-section .first-1 {
    width: 50%;
    height: 7rem;
}
.Home .home-row .form-section #id-1{
    margin-top: 4rem;
}
.Home .home-row .form-section #id-1 h2{
    font-size: 3rem;
    margin-top: 7rem;
}
.Home .home-row .form-section .first-1 #input{
    width: 80%;
    height: 100%;
    font-size:2rem;
    margin-top: 2rem;
}
.about-section{
    margin-top: 3rem;
    width: 100%;
    height: auto;
}
.about-section .about-row{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.about-section .card{
    width: 60%;
    min-height: 65rem;
    margin-top: 3rem;
}
.about-section .card h3{
    font-size: 4rem;
    margin-top: 2rem;
}
.about-section .card p{
    font-size: 2.4rem;
}
.about-section .card button{
    width: 160px;
    height: 40px;
    font-size: 2.2rem;

}
.features{
    
    min-height: 64vh;
    width: 100%;
    margin-top: 4rem;
}
.features .feature-row{
   flex-wrap: wrap;
   flex-direction: column;
}
.features .feature-row .image{
    width: 90%;
    margin: 10px auto;
}
.features .feature-row .text{
    width: 80%;
    height: 30rem;
}
.features .feature-row .text h3{
    font-size:4.4rem;
}
.features .feature-row .text p{
    font-size: 2.4rem;
}

.features .feature-row .text .btn-btn{
    width:80%;
    height: 10rem;
    
}
.features .feature-row .text .btn-btn button{
    width: 200px;
    height: 60px;
    margin-right: 3rem;
    font-size: 2.4rem;
    color: white;
}
.images-section{
   margin-top: 8rem;
   min-height: 100vh;
   width: 100%;
   margin:10px 3rem;
}
.images-section .image-row .picture{
    width: 60rem;
    height: 50%;
    border: 3px solid red;
}
.images-section .image-row .picture img{
    width: 100%;
    height: 100%;
}
.Blog .input-input{
    margin-top: 4rem;
    width: 90%;
    margin-left:-2rem;

}
.Blog .input-input input{
    width:64%;

}
.Blog .input-input #input{
    width:30%;
}






}

@media screen and (max-width:642px){
    .review-section .card{
        width: 38rem;
        height: 25rem;
        margin-top: 6rem;
     
     }
     .review-section #third-card{
        margin-top: 5rem;
     }
     .review-section .card p{
        font-size: 1.8rem;
        width: 290px;
        margin:10px auto;
        
    }

    .review-section .card img{
        margin-left:14rem;
        width: 25%;
        height: 30%;
    }

    .contact-row .firstContactSection{
        width: 100%;
        height: 16vh;
       
        margin-left: 4rem;
    }
    .contact-row .firstContactSection .infoBox{
        width: 55%;
        height: 100px;
        margin-right: 15px;
      
    }
    .contact-section .form-section{
        width: 90%;
        height: 54vh;
        
        
    }



}




@media screen and (max-width:480px){
    .about-section{
        margin-top: 6rem;
    }
    .about-section .heading-1{
        font-size: 4rem;
    }
    .about-section .about-row{
        border: 3px solid red;
        margin-top: 4rem;
    }

    .about-section .card{
        width: 80%;
        height: 55rem;
        margin-top: 3rem;
    }
    .images-section{
      width: 100%;
      margin-top: 9rem;
      border: 3px solid blue;
     }
    .images-section .image-row .picture{
        width: 100%;
        height: 50%;
        
    }
    .images-section .image-row .picture img{
        width: 100%;
        height: 100%;
    }
    .firstContactSection{
        margin-left: 1rem;
        
    }

    .contact-section .form-section .inputs input{
        width: 95%;
        margin-top: 10px;
    }
    .contact-section .form-section textarea{
        width: 95%;
        margin-left:5px;
    }


}


